* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(to bottom right, #0504AA, #4CC9F0);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 20px;
    position: sticky;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.1); 
}

.header-box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    border-radius: 12px;
    border: 2px solid transparent;
    border-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header-box img {
    width: 40px;
    margin-right: 15px; 
}

.header-box h1 {
    font-size: 28px;
    color: #ffffff;
    margin: 0;
    flex-grow: 1; 
}

.main-container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    max-width: 1000px; 
    width: 100%; 
    padding: 20px;
    margin: 0 auto; 
    flex-grow: 1; 
    margin-top: 100px;
}
.song-box {
    background: #eceeee;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px; 
    background-color: #3d87dd; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}

.song-box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.song-box:hover::after {
    transform: scaleX(1); 
}

.song-img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.song-box h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 8px;
}

.song-box p {
    font-size: 16px;
    color: #777;
}


footer {
    color: #fff;
    text-align: center;
    margin-top: auto; 
    padding: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
}
